.app__aboutus {
  position: relative;
  &-overlay {
    position: absolute;
    inset: 0;
    & img {
      width: 391px;
      height: 415px;
      z-index: 0;
    }
  }
  &-content {
    width: 100%;
    z-index: 2;
    &_about {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: right;
    }
    &_knife {
      margin: 2rem 4rem;
      & img {
        height: 910px;
      }
    }
    &_history {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
    }
    &_history p,
    &_about p {
      margin: 2rem 0;
      color: var(--color-grey);
    }
  }
}

@media screen and (max-width: 2000px) {
  .app__aboutus {
    &-content {
      &_knife {
        & img {
          height: 1110px;
        }
      }
      &_history p,
      &_about p {
        margin: 4rem 0;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .app__aboutus {
    &-content {
      flex-direction: column;
      &_knife {
        margin: 4rem 0;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .app__aboutus {
    &-overlay {
      & img {
        width: 80%;
        height: 320px;
      }
    }
  }
}
