.app__header {
  background-color: var(--color-black);
  &-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
    font-weight: 700;
  }
  &_img img {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .app__header {
    &-h1 {
      font-size: 70px;
      line-height: 100px;
    }
  }
}
